/* HIT 226 Mobile Web Structures
    Student Name: Mehedi Hassan
     student id: s333100 */



/* For styling a page heading */

#header /*this name is called inside html file using id */
{
    background: #00a2d1;
    height: 50px;
    color: #fff;
    font-size: 36px;
}


/* For styling  form */
.form-style{ /* this name is called inside html file using class="form-style" */
    font-family: 'Open Sans Condensed', arial, sans;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba (0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba (0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

/* For styling a form heading */
.form-style h2 { /* this name is called inside html file using <h2> */
    background: #43D1AF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    padding: 20px;
}

.form-style .textarea-field { /*this name is called inside html file using class=="textarea-field"*/
    height: 100px;
    width: 230px;
    border-radius: 5px;

}

.input-group{
    margin: 10px 0px 10px 0px;
}

/* For styling an input text field*/
.input-group input{ /* this name is called inside html file using class="input-group" */
    height: 30px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 1px solid gap;

}